html {
    display: block;
    cursor: help;
}

h2 {
    color: #27aef1;
    text-align: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    font-family: 'Noto Serif', serif;
    background-color: #cfedfc;
    margin: 8px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1:hover {
    color: blue;
}

table {
    border: 2px solid #096390;
    width: 650px;
    margin: 0 auto;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
    border: 1px solid #466995;
    border-radius: 10px;
    box-shadow: 0px 4px;
}

thead {
    background-color: #9fdbf9;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border: 1px solid #466995;
    border-radius: 10px;
    box-shadow: 0px 4px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.material-icons-outlined {
    float: left;
    cursor: pointer;
}

a:link {
    color: red;
}

/*a:visited {
    color: orange;
}*/

a:hover {
    color: black;
}

a:active {
    color: red;
}

thead:hover {
    cursor: pointer;
    background-color:rgb(133, 187, 212);
    transition: background-color .3s ease-in;
}

.breadcrumb > li {
    display: inline;
}
  
.breadcrumb li+li::before {
    padding: 10px;
    content: ">";
}
  
.breadcrumb a {
    text-decoration: none;
}
  
.breadcrumb a:hover {
    color: red;
}

ul a:link {
    color: #000;
}